			*{
				padding:0px;
				margin:0px;
			}
			nav{			
				min-width:100%;
				background:none;
			}
				a{
				color:white;
				text-decoration:none;
			}
			ul{
				list-style-type:none;
				display:flex;
				justify-content:space-evenly;
				align-items:center;
				min-height:50px;
				padding:20px;
			}
			.link2{
				padding:20px 70px;
				background:#C3A867;
				border-radius:10px;
				font-size:22px;
			}
			.link2:hover{
				border:5px dotted #C3A867;
				color:black;
				font-family:cursive, sans-serif;
				border-radius:20px;
				border-bottom:5px solid black;
				border-top:5px solid black;
			}
			.section_one{
				height:300px;
				background:black;
				display:flex;
			}
			.span1{
				display:block;
				font-size:25px;
				color:white;
				font-size:40px;
				left:300px;
				top:50px;
				position:relative;
			}
			.span2{
				color:white;
			}
			.span3{
				background:#C3A867;
				color:white;
			}
			.imgcontainer{
				border:2px solid #C3A867;
				height:200px;
				width:200px;
				left:400px;
				top:50px;
				position:relative;
				border-radius:50%;
				background-image:url(images/korebobo.jpg);
				background-repeat:norepeat;
				background-size:100% 100%;
			}
			.section_two{
				height:70px;
				background:#C3A867;
				display:flex;
				flex-direction:column;
				justify-content:center;
			}
			.section_three{
				height:70px;
				width:70%;
				left:100px;
				top:20px;
				position:relative;
				border:none;
				border-left:5px solid #C3A867;
			}
			.par_one{
				color:white;
				font-size:30px;
				text-transform:uppercase;
				left:20px;
				position:relative;
			}
			.par_two{
				color:black;
				font-size:30px;
				left:20px;
				position:relative;
			}
			.par_three{
				font-size:25px;
				top:20px;
				position:relative;
			}